<%# Using HTML %>

<%# <form action="/users" method="post" accept-charset="UTF-8"> %>
  <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>  <%#"> %>
  <%# <label for="user_username"> Username </label><br/> %>
  <%# <input type="text" id="user_username" name="user[username]"/><br/> %>
  <%# <label for="user_email">Email</label><br/> %>
  <%# <input type="text" id="user_email" name="user[email]"/><br/> %>
  <%# <label for="user_password">Password</label><br/> %>
  <%# <input type="password" id="user_password" name="user[password]"/><br/> %>
  <%# <input type="submit" value="Create Account"> %>
<%# </form> %>

<%# Using Rails' deprecated #form_tag and #*_tag methods %>

<%# <%= form_tag('/users', method: 'post') do %> <%# %>
  <%# <%= label_tag('user[username]', 'Username') %> <%# <br/> %>
  <%# <%= text_field_tag('user[username]') %> <%# <br/> %>
  <%# <%= label_tag('user[email]', 'Email') %> <%# <br/> %>
  <%# <%= text_field_tag('user[email]', nil, placeholder: 'some@email.com') %> <%# <br/> %>
  <%# <%= label_tag('user[password]', 'Password') %> <%# <br/> %>
  <%# <%= password_field_tag('user[password]') %> <%# <br/> %>
  <%# <%= submit_tag('Create Account') %> <%# %>
<%# <% end %> <%# %>

<%# Using Rails' #form_with method and UserController#new with an instance variable %>
<%= form_with model: user do |form| %>
  <%= form.label(:username, 'Username') %><br/>
  <%= form.text_field(:username) %><br/>
  <%= form.label(:email, 'Email') %><br/>
  <%= form.text_field(:email, placeholder: 'some@email.com') %><br/>
  <%= form.label(:password, 'Password') %><br/>
  <%= form.password_field(:password) %><br/><br/>
  <%= form.submit %>
<% end %>